### Step 1: Import Dependencies required to perform data transformation steps

In [23]:
# Import Dependencies
import pandas as pd
from pathlib import Path

### Step 2: Read in csv files containing data extractions from various API calls to the National Park Service webpage.

In [24]:

NPS_Amenities_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_amenities_data.csv")
NPS_Amenities_df.head(5)

,amenity_id,amenity_name,amenity_category
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies"
1,4E4D076A-6866-46C8-A28B-A129E2B8F3DB,Accessible Rooms,Accessibility
2,04D29064-B9A1-4031-AD0E-98E31EF69604,Accessible Sites,Accessibility
3,0E2B9B01-9AC3-4AAF-A801-8027314BE863,Airboat Launch,Boating
4,B509969B-F06A-4DCC-BBB3-134964D896E2,Amphitheater,"Interpretive, Recreation"

In [25]:
NPS_AmenitiesByPlace_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_amen_place_data.csv")
NPS_AmenitiesByPlace_df.head(5)

,amenity_id,amenity_name,park_code,park_name,park_states,park_designation,park_url
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,bibe,Big Bend National Park,TX,National Park,http://www.nps.gov/bibe/
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,brca,Bryce Canyon National Park,UT,National Park,http://www.nps.gov/brca/
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,cabr,Cabrillo National Monument,CA,National Monument,http://www.nps.gov/cabr/
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,deva,Death Valley National Park,"CA,NV",National Park,http://www.nps.gov/deva/

In [26]:
NPS_Parks_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_parks_data.csv")
NPS_Parks_df.head(5)

,park_id,park_url,park_name,park_code,park_latitude,park_longitude,park_designation
0,77E0D7F0-1942-494A-ACE2-9004D2BDC59E,https://www.nps.gov/abli/index.htm,Abraham Lincoln Birthplace National Historical...,abli,37.585866,-85.673305,National Historical Park
1,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,https://www.nps.gov/acad/index.htm,Acadia National Park,acad,44.409286,-68.247501,National Park
2,E4C7784E-66A0-4D44-87D0-3E072F5FEF43,https://www.nps.gov/adam/index.htm,Adams National Historical Park,adam,42.255396,-71.011604,National Historical Park
3,1A47416F-DAA3-4137-9F30-14AF86B4E547,https://www.nps.gov/afam/index.htm,African American Civil War Memorial,afam,38.916600,-77.026000,NaN
4,E6E1D22A-7A89-47F8-813C-B611059A8CF9,https://www.nps.gov/afbg/index.htm,African Burial Ground National Monument,afbg,40.714527,-74.004474,National Monument

In [27]:
NPS_Places_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_places.csv")
NPS_Places_df.head(5)

,place_id,park_url,park_name,park_code,park_latitude,park_longitude,park_designation
0,869014EF-C785-42B5-9F7E-891AACBE7ED4,https://www.nps.gov/bost/index.htm,Boston National Historical Park,bost,42.373998,-71.056105,National Historical Park
1,81D55E11-C3DD-4446-892E-092C6BBEE70D,https://www.nps.gov/jofl/index.htm,Johnstown Flood National Memorial,jofl,40.348095,-78.776611,National Memorial
2,5A33F792-03E1-4F11-ABA2-697FF0D89724,https://www.nps.gov/scbl/index.htm,Scotts Bluff National Monument,scbl,41.837115,-103.700043,National Monument
3,CBBB759D-D49E-49EA-90D2-3A8674047DAC,https://www.nps.gov/scbl/index.htm,Scotts Bluff National Monument,scbl,41.834873,-103.699866,National Monument
4,E266368F-ADED-4C30-9608-2DE1D6ECDA91,https://www.nps.gov/scbl/index.htm,Scotts Bluff National Monument,scbl,41.839923,-103.699025,National Monument

In [28]:
NPS_Activities_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/activities.csv")
NPS_Activities_df.head(5)

                            activity_id     activity_name
0  09DF0950-D319-4557-A57E-04CD2F63FF42  Arts and Culture
1  13A57703-BB1A-41A2-94B8-53B692EB7238         Astronomy
2  5F723BAD-7359-48FC-98FA-631592256E35      Auto and ATV
3  7CE6E935-F839-4FEC-A63E-052B1DEF39D2            Biking
4  071BA73C-1D3C-46D4-A53C-00D5602F7F0E           Boating

In [29]:
NPS_ActivitiesByPark_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/activities_parks.csv")
NPS_ActivitiesByPark_df.head(5)

,activity_id,activity_name,designation,fullName,name,parkCode,states,url
0,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Acadia National Park,Acadia,acad,ME,https://www.nps.gov/acad/index.htm
1,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Arches National Park,Arches,arch,UT,https://www.nps.gov/arch/index.htm
2,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Capitol Reef National Park,Capitol Reef,care,UT,https://www.nps.gov/care/index.htm
3,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Cuyahoga Valley National Park,Cuyahoga Valley,cuva,OH,https://www.nps.gov/cuva/index.htm
4,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Glacier National Park,Glacier,glac,MT,https://www.nps.gov/glac/index.htm

In [30]:
NPS_EntranceFees_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/feespasses.csv")
NPS_EntranceFees_df.head(5)

,parkCode,totalFees,averageFees,totalPasses,averagePasses,isFeeFreePark,entrancePassDescription,entranceFeeDescription,feesAtWorkUrl
0,acad,91.0,13.000000,70.0,70.0,False,A park entrance pass is required year-round. A...,A park entrance pass is required year-round at...,https://www.nps.gov/acad/planyourvisit/fees.htm
1,arch,72.0,18.000000,55.0,55.0,False,NaN,NaN,https://www.nps.gov/arch/learn/management/your...
2,badl,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,bibe,425.0,60.714286,55.0,55.0,False,Big Bend National Park Annual Pass: $55 Covers...,All vehicles entering Big Bend National Park a...,https://www.nps.gov/bibe/learn/management/your...
4,bisc,0.0,0.000000,0.0,0.0,True,NaN,NaN,NaN

In [31]:
# Additional line to add Melissa's output file(s) once available
# NPS_GeoLocation_df = pd.read_csv("Extract/NPS_Park_Boundaries/NPS_Project_Extracted_Data/filename.csv")

### Step 3: Edit data to create a single, comprehensive, cleaned dataset for use in analysis